
.task-home {
  position: relative;
  min-height: 100vh;
  padding: 0 10px;
  margin-bottom: 6px;

  .search {
    padding: 0 4px;
  }

  .add {
    position: fixed;
    right: 10px;
    bottom: 10px;
    transition: all .5s;
  }

  .add-hidden {
    transform: translateY(120px);
  }
}


