<mat-list-item>
  <mat-icon class="action" *ngIf="todo.status !== todoStatusModel.NEW" (click)="changeStatusClick()">replay</mat-icon>
  <mat-icon class="action" *ngIf="todo.status === todoStatusModel.NEW" (click)="changeStatusClick()">done</mat-icon>
  <del mat-line *ngIf="todo.status === todoStatusModel.DELETE">
    {{todo.content}}
  </del>
  <div mat-line *ngIf="todo.status !== todoStatusModel.DELETE">
    {{todo.content}}
  </div>
  <div mat-line *ngIf="todo.status === todoStatusModel.NEW && todo.createTime">
    创建时间：{{todo.createTime | sliceTime}}
    <div class="due" *ngIf="todo.dueTime">
      <mat-icon class="due-time">date_range</mat-icon>
      {{dueDate}}
    </div>
  </div>
  <div mat-line *ngIf="todo.status === todoStatusModel.FINISH && todo.finishTime">
    完成时间：{{todo.finishTime | sliceTime}}
  </div>
  <div mat-line *ngIf="todo.status === todoStatusModel.DELETE && todo.deleteTime">
    删除时间：{{todo.deleteTime | sliceTime}}
  </div>
</mat-list-item>
